@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

#board-wrapper{
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
    text-align: center;
    white-space: nowrap;

    margin-top: 2rem;
}

#board{
    width: 1200px;
    height: 700px;

    flex-shrink: 0;

    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}

#board img{
    width: 100%;
    height: 100%;
}

#modal-note{
    display: none;
    border: 2px solid rgba(0,0,0,.2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 23rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: 0;
    z-index: 100;
    padding: 2rem;
    flex-direction: column;
    box-shadow: 0 0 0 100000px rgba(0,0,0,.2);
    font-size: 2rem;
}

#modal-note__btn{
    align-self: center;
    margin-top: auto;
    padding: .3rem;
    width: 10rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    color: white;
}

#modal-note__btn:hover{
    color: rgb(219, 219, 219);
}

#modal-note__field{
    margin: 2rem 0;
    word-wrap: break-word;
    line-height: 2rem;
    overflow-y: auto;
}

#modal-note__close{
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
    cursor: pointer;
}

#modal-note__field:focus{
    outline: none;
}

.note{
    position: absolute;
    display: flex;
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
    background-color: white;
    z-index: 2;

    padding: 1rem;
    line-height: 1.5rem;

    overflow-y: auto; 
    overflow-x: hidden;
    word-break: break-word;
    white-space: normal;
    flex-direction: column;

    user-select: none;
    font-size: 1.7rem;
}

.note-red{
    background-color: #f664af;
    border: 1px solid #ec60a8;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

.note-yellow{
    background-color: #eeff56;
    border: 1px solid #cedd43;
    color: rgb(118, 118, 118);
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

.note-blue{
    background-color: #3bc3d9;
    border: 1px solid #2ea7b9;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}